{% extends "layout.html" %}

{% block title %}
App Page
{% endblock %}


{% block content %}

    <h1>Khushi Sharma / all_app page</h1>

    <div class='grid grid-cols-3 gap-4 m-4'>

        {% for fruit in fruits %}
            <div class='bg-blue-700 p-5 rounded'>
                <img class='rounded shadow-lg' src={{fruit.image.url}} alt="image-url">

                <h2 class='text-2xl font-bold'>{{fruit.name}}</h2>

                <a href="{% url 'fruit_detail' fruit.id %}">      <!-- from the name given in the urls.py field -->
                    <button 
                    type = "button"
                    class = "inline-flex items-center w-[100%] justify-center p-4 py-2 border border-transparent text-sm fonr-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
                    >
                        {{fruit.type}} - {{fruit.id}}
                    </button>
                </a>

            </div>
        {% endfor %}

    </div>

{% endblock %}

