{% extends "layout.html" %}

{% block content %}
test content for forms
<form method="POST" class='text-pink-500'>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Search Store</button>
</form>


    {% if stores %}

        <div class='m-4 text-center'>
            <h2 class='text-2xl m-4 shadow-lg'>Stores available</h2>
            <ul>
                {% for store in stores  %}
                    <li>{{store.name}} - {{store.location}}</li>
                {% endfor %}
            </ul>
        </div>
        

    {% endif %}

{% endblock %}